@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.mainbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
